Package: hustoj-doc
Source: hustoj
Version: 0.0.1
Architecture: all
Maintainer: root <root@8cd5d0335933>
Installed-Size: 26
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: documentation for hustoj
 <insert long description, indented with spaces>
